.style-switcher{
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d4d4e3;
    border-right: none;
    border-radius: 0 0 0 5px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3 ease;
    transition: all 0.3s ease;
}

.style-switcher:hover{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.style-switcher h5{
    font-size: 16px;
    color: #302e4d;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8dfec;
}

.style-switcher ul{
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    margin-bottom: 5px;
}

.style-switcher ul li{
    display: inline-block;
}

.style-switcher ul li a{
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    margin-right: 2px;
}

/* Toggler style switcher */
.style-switcher .toggle-style-switcher{
    position: absolute;
    height: 45px;
    width: 45px;
    background: #ffffff;
    left: -46px;
    top: -1px;
    border: 1px solid #d4d4e3;
    border-right: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.style-switcher .toggle-style-switcher .fa{
    font-size: 20px;
    line-height: 43px;
}

/* Dark body */

body.dark .section{
    background-color: #151515;
}

body.dark .contact .contact-form .form-item .form-control,
body.dark .blog .blog-item-inner .blog-info,
body.dark .service .service-item .service-item-inner,
body.dark .about .about-content .timeline,
body.dark .aside{
    background-color: #222222;
}
body.dark .contact .contact-info-item h4,
body.dark .blog .blog-item-inner .blog-info .blog-title,
body.dark .portfolio .portfolio-filter button,
body.dark .service .service-item .service-item-inner h4,
body.dark .about .about-content .timeline .timeline-title,
body.dark .about .about-content h3.title,
body.dark .about .about-content .skills .skill-item h5,
body.dark .about .about-content .personal-info .info-item p,
body.dark .about .about-content .about-text h3,
body.dark .section-title h2,
body.dark .home .intro h1,
body.dark .aside .logo a,
body.dark .aside .nav li a{
    color: #ffffff;
}
body.dark .blog .blog-item-inner .blog-info .blog-description,
body.dark .contact .contact-form .form-item .form-control,
body.dark .contact .contact-info-item p,
body.dark .blog .blog-item-inner .blog-info .blog-tags,
body.dark .blog .blog-item-inner .blog-info .blog-desciption,
body.dark .service .service-item .service-item-inner p,
body.dark .about .about-content .timeline .timeline-text,
body.dark .about .about-content .timeline .timeline-date,
body.dark .about .about-content .skills .skill-item .skill-percent,
body.dark .about .about-content .personal-info .info-item p span,
body.dark .about .about-content .about-text p,
body.dark .home .intro p{
    color: #e9e9e9;
}
body.dark .aside,
body.dark .contact .contact-form .form-item .form-control,
body.dark .blog-item-inner,
body.dark .portfolio .portfolio-item-inner,
body.dark .service .service-item .service-item-inner,
body.dark .about .about-content .timeline,
body.dark .about .about-content .personal-info .info-item p,
body.dark .aside .nav li a{
    border-color: #393939;
}

body.dark .shadow-dark{
    -webkit-box-shadow: none;
    box-shadow: none;
}